src/main/webapp/xml/schema/wmtsGetCapabilities_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Joan Masó (UAB-CREAF-MiraMon). Based on previous documents of Keith Pomakis. -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wmts="http://www.opengis.net/wmts/1.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.opengis.net/wmts/1.0" elementFormDefault="qualified" xml:lang="en">
	<annotation>
		<appinfo>wmtsGetCapabilities_response 2009-01-31</appinfo>
		<documentation>
			This XML Schema Document encodes the WMTS GetCapabilities operations response message.
			Copyright (c) 2009 Open Geospatial Consortium, Inc. All Rights Reserved. 
		</documentation>
	</annotation>
	<!-- *********************************************************************
	             Includes and imports.                            
          ********************************************************************* -->
	<import namespace="http://www.opengis.net/ows/1.1" schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsAll.xsd"/>
	<!-- *********************************************************************
	          The top-level Capabilities element.                            
          ********************************************************************* -->
	<element name="Capabilities">
		<annotation>
			<documentation>XML encoded WMTS GetCapabilities operation response. This document provides clients with service metadata about a specific service instance, including metadata about the tightly-coupled data served. If the server does not implement the updateSequence parameter, the server shall always return the complete Capabilities document, without the updateSequence parameter. When the server implements the updateSequence parameter and the GetCapabilities operation request included the updateSequence parameter with the current value, the server shall return this element with only the "version" and "updateSequence" attributes. Otherwise, all optional elements shall be included or not depending on the actual value of the Contents parameter in the GetCapabilities operation request.
			</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ows:CapabilitiesBaseType">
					<sequence>
						<element name="Contents" type="wmts:ContentsType">
							<annotation>
								<documentation>Metadata about the data served by this server. For the WMTS, this section shall contain data about layers and TileMatrixSets</documentation>
							</annotation>
						</element>
						<element ref="wmts:Themes" minOccurs="0">
							<annotation>
								<documentation>Metadata describing a theme hierarchy for the layers</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<complexType name="ContentsType">
		<complexContent>
			<extension base="ows:ContentsBaseType">
				<sequence>
					<element ref="wmts:TileMatrixSet" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>A description of the geometry of a tile cut</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FormatType">
		<sequence>
			<element name="MIME" type="ows:MimeType">
				<annotation>
					<documentation>The MIME type of the resource</documentation>
				</annotation>
			</element>
			<element name="FileExtension" type="string" minOccurs="0">
				<annotation>
					<documentation>The extension of the requested resource. Only need in RESTful encoding</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="Operations">
		<annotation>
			<documentation>Metadata about the operations and related abilities over a resource and implemented by this server, including the URLs.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="ows:Operation" maxOccurs="unbounded">
					<annotation>
						<documentation>Metadata for unordered list of all the (requests for) operations that this resource. The list of required and optional operations implemented for this service. </documentation>
					</annotation>
				</element>
				<element name="Parameter" type="ows:DomainType" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Optional unordered list of parameter valid domains that each apply to one or more operations which this server interface implements. The list of required and optional parameter domain limitations shall be specified in the Implementation Specification for this service. </documentation>
					</annotation>
				</element>
				<element name="Constraint" type="ows:DomainType" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Optional unordered list of valid domain constraints on non-parameter quantities that each apply to this server. The list of required and optional constraints shall be specified in the Implementation Specification for this service. </documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<!-- ********************************************************************* -->
	<!-- **  The Layer element.                                                      ** -->
	<!-- ********************************************************************* -->
	<element name="Layer" type="wmts:LayerType" substitutionGroup="ows:DatasetDescriptionSummary"/>
	<complexType name="LayerType">
		<complexContent>
			<extension base="ows:DatasetDescriptionSummaryBaseType">
				<sequence>
					<element ref="wmts:Style" maxOccurs="unbounded">
						<annotation>
							<documentation>Metadata about the styles of this layer</documentation>
						</annotation>
					</element>
					<element name="Format" type="wmts:FormatType" maxOccurs="unbounded">
						<annotation>
							<documentation>Supported valid output formats for a tile request</documentation>
						</annotation>
					</element>
					<element name="InfoFormat" type="wmts:FormatType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Supported valid output formats for a FeatureInfo request</documentation>
						</annotation>
					</element>
					<element ref="wmts:Dimension" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Extra dimensions for a tile and FeatureInfo requests.</documentation>
						</annotation>
					</element>
					<element name="TileMatrixSet" type="string" maxOccurs="unbounded">
						<annotation>
							<documentation>Reference to a tileMatrixSet identifier</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ********************************************************************* -->
	<!-- **  Style and LegendURL elements                                   ** -->
	<!-- ********************************************************************* -->
	<element name="Style">
		<complexType>
			<complexContent>
				<extension base="ows:DescriptionType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>An unambiguous reference to this style, identifying a specific version when needed, normally used by software</documentation>
							</annotation>
						</element>
						<element ref="wmts:LegendURL" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Description of an image that represents the legend of the map</documentation>
							</annotation>
						</element>
					</sequence>
					<attribute name="isDefault" type="boolean">
						<annotation>
							<documentation>This style is used when no style is specified</documentation>
						</annotation>
					</attribute>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="LegendURL">
		<annotation>
			<documentation>
        Zero or more LegendURL elements may be provided, providing an
        image(s) of a legend relevant to each Style of a Layer.  The Format
        element indicates the MIME type of the legend.  MinScaleDenominator
        and maxScaleDenominator attributes may be provided to indicate to
        the client which scale(s) (inclusive) the legend image is appropriate
        for.  (If provided, these values must exactly match the scale
        denominators of available TileMatrixes.)  Width and height
        attributes may be provided to assist client applications in laying
        out space to display the legend.
      </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Format" type="ows:MimeType">
					<annotation>
						<documentation>A supported output format for the legend image</documentation>
					</annotation>
				</element>
				<element name="OnlineResource" type="ows:OnlineResourceType">
					<annotation>
						<documentation>The URL from which the legend image can be retrieved</documentation>
					</annotation>
				</element>
			</sequence>
			<attribute name="minScaleDenominator" type="double">
				<annotation>
					<documentation>Denominator of the minimum scale (inclusive) for which this legend image is valid</documentation>
				</annotation>
			</attribute>
			<attribute name="maxScaleDenominator" type="double">
				<annotation>
					<documentation>Denominator of the maximum scale (exclusive) for which this legend image is valid</documentation>
				</annotation>
			</attribute>
			<attribute name="width" type="positiveInteger">
				<annotation>
					<documentation>Width (in pixels) of the legend image</documentation>
				</annotation>
			</attribute>
			<attribute name="height" type="positiveInteger">
				<annotation>
					<documentation>Height (in pixels) of the legend image</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>
	<!-- ********************************************************************* -->
	<!-- **  The Dimension element.                                               ** -->
	<!-- ********************************************************************* -->
	<element name="Dimension">
		<annotation>
			<documentation>Metadata about a particular dimension that the tiles of a layer are available in.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ows:DescriptionType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>A name of dimensional axis</documentation>
							</annotation>
						</element>
						<element ref="ows:UOM" minOccurs="0">
							<annotation>
								<documentation>Units of measure of dimensional axis.</documentation>
							</annotation>
						</element>
						<element name="UnitSymbol" type="string" minOccurs="0">
							<annotation>
								<documentation>Symbol of the units.</documentation>
							</annotation>
						</element>
						<element name="Default" type="string" minOccurs="0">
							<annotation>
								<documentation>Default value that will be used if a tile request does not specify a value or uses the keyword 'default'.</documentation>
							</annotation>
						</element>
						<element name="Current" type="string" minOccurs="0">
							<annotation>
								<documentation>A value of 1 (or 'true') indicates (a) that temporal data are normally kept current and (b) that the request value of this dimension accepts the keyword 'current'.</documentation>
							</annotation>
						</element>
						<element name="Value" type="string" maxOccurs="unbounded">
							<annotation>
								<documentation>Available value for this dimension.</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- ********************************************************************* -->
	<!-- **  The TileMatrixSet element.                                     ** -->
	<!-- ********************************************************************* -->
	<element name="TileMatrixSet">
		<annotation>
			<documentation>Describes a particular set of tile matrices.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ows:DescriptionType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>Tile matrix set identifier</documentation>
							</annotation>
						</element>
						<element ref="ows:BoundingBox" minOccurs="0">
							<annotation>
								<documentation>Minimum bounding rectangle surrounding the visible layer presented by this tile matrix set, in the supported CRS </documentation>
							</annotation>
						</element>
						<element ref="ows:SupportedCRS">
							<annotation>
								<documentation>Reference to one coordinate reference system (CRS).</documentation>
							</annotation>
						</element>
						<element name="WellKnownScaleSet" type="anyURI" minOccurs="0">
							<annotation>
								<documentation>Reference to a well known scale set. GlobalCRS84Scale, GlobalCRS84Pixel and GoogleMapsCompatible are possible values that are defined in Annex E. It has to be consistent with the SupportedCRS and with the ScaleDenominators of the TileMatrix elements.</documentation>
							</annotation>
						</element>
						<element ref="wmts:TileMatrix" maxOccurs="unbounded">
							<annotation>
								<documentation>Describes a scale level and its tile matrix.</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- ********************************************************************* -->
	<!-- **  The TileMatrix element.                                                ** -->
	<!-- ********************************************************************* -->
	<element name="TileMatrix">
		<annotation>
			<documentation>Describes a particular tile matrix.</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ows:DescriptionType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>Tile matrix identifier. Typically an abreviation of the ScaleDenominator value or its equivalent pixel size</documentation>
							</annotation>
						</element>
						<element name="ScaleDenominator" type="double">
							<annotation>
								<documentation>Scale denominator level of this tile matrix</documentation>
							</annotation>
						</element>
						<element name="TopLeftCorner" type="ows:PositionType">
							<annotation>
								<documentation>Position in CRS coordinates of the top-left corner of this tile matrix. This are the  precise coordinates of the top left corner of top left pixel of the 0,0 tile.</documentation>
							</annotation>
						</element>
						<element name="TileWidth" type="positiveInteger">
							<annotation>
								<documentation>Width of each tile of this tile matrix in pixels.</documentation>
							</annotation>
						</element>
						<element name="TileHeight" type="positiveInteger">
							<annotation>
								<documentation>Height of each tile of this tile matrix in pixels</documentation>
							</annotation>
						</element>
						<element name="MatrixWidth" type="positiveInteger">
							<annotation>
								<documentation>Width of the matrix (number of tiles in width)</documentation>
							</annotation>
						</element>
						<element name="MatrixHeight" type="positiveInteger">
							<annotation>
								<documentation>Height of the matrix (number of tiles in height)</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- ********************************************************************* -->
	<!-- **  The Themes, Theme and LayerRef elements.                       ** -->
	<!-- ********************************************************************* -->
	<element name="Themes">
		<annotation>
			<documentation>Provides a set of hierarchical themes that the client can use to categorize the layers by.</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="wmts:Theme" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Metadata describing the top-level themes where layers available on this server can be classified.</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Theme">
		<complexType>
			<complexContent>
				<extension base="ows:DescriptionType">
					<sequence>
						<element ref="ows:Identifier">
							<annotation>
								<documentation>Name of the theme</documentation>
							</annotation>
						</element>
						<element ref="wmts:Theme" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Metadata describing the child (subordinate) themes of this theme where layers available on this server can be classified</documentation>
							</annotation>
						</element>
						<element name="LayerRef" type="anyURI" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>Reference to layer</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
</schema>
